
.container {
  margin-top: 25px;

}

.row {

}

/* HEADER */
#contact-no {

}


/* nav */

.nav li {
  padding-left: 12px;
  padding-right: 12px;
}

.scrollNav {
  position: fixed;
  top: 0;
  transition: 0.3s linear;
  margin-bottom: 4px;
}

/* about */

#about {
  text-align: left;
  transition: 0.2s linear;
}


/* experience */

#experience {
  transition: 0.2s linear;
}

#work-info {

}

.section {
  padding-top: 40px;
  margin-left: 15px;
}

h4 {
  padding-bottom: 8px;

}


/* test */
#test {
  margin-top: 500px;
}
