
.container {
  margin-top: 25px;

}

.row {

}

/* HEADER */
#contact-no {

}

.contact {
  color: #227093;
}


/* nav */

.nav li {
  padding-left: 12px;
  padding-right: 12px;
}
.nav a {

  color: #227093;
}

.scrollNav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s linear;
  margin-bottom: 4px;
}
.scrollNav a {
  background-color: #fbc531;

}

/* about */

#about {
  text-align: left;
  transition: 0.2s linear;
}


/* experience */

#experience {
  transition: 0.2s linear;
}

#work-info li {
  margin-top: 11px;
}

.section {
  padding-top: 40px;
  margin-left: 15px;
}

h4 {
  padding-bottom: 8px;

}


/* test */
#test {
  margin-top: 600px;
}
